{% extends 'base.html' %}

{% block title %}My Top 10 Movies{% endblock %}

{% block content %}
<div class="container">
  <h1 class="heading">My Top 10 Movies</h1>
  <p class="description">These are my all-time favourite movies.</p>
  {% for item in movies %}
  <div class="card" style="overflow: hidden;">
    <div class="front" style="background-image: url('{{item.img_url}}');">
        <p class="large">{{item.ranking | int}}</p>
    </div>
    <div class="back">
      <div>
    <div class="title">{{item.title}}<span class="release_date">({{item.year}})</span></div>
        <div class="rating">
            <label>{{item.rating}}</label>
          <i class="fas fa-star star"></i>
        </div>
          <p class="review">"{{item.review}}"</p>
        <p class="overview">
           {{item.description}}
        </p>

        <a href="{{ url_for('Edit', id=item.id)}}" class="button">Update</a>
        <a href="{{ url_for('delete_movie', id=item.id)}}" onclick="showDeleteConfirmation(event)" class="button delete-button" id="deletebtn">Delete</a>

      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="container text-center add">
<a href="{{url_for('add_movies') }}" class="button">Add Movie</a>
</div>
{% endblock %}